//general
*{
    font-family: $mainFont;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

p{
    line-height: 1.65;
    font-size: $fontSmall;
}

li{
    list-style: none;
}

h1{
    font-size: $fontLarge;
    letter-spacing: 10px;
    text-align: center;
    padding: 10px 0;
}

h3{
    font-size: $fontMedium;
    margin: 20px 0px;
}

//cards

.card{
    margin: auto;
    width: 250px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 
    0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0,0,0,0.22);
    transition: .4s;
    background: $colorGrey;
}


.card:hover{
    box-shadow: 
    0 3px 6px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.23);
    transform: translate(0px, -8px);
}

//textos

@mixin ancho($ancho) {
    margin: auto;
    width: $ancho;
}

.box-ctc{
    @include ancho(45%);
}

.box-gta{
    @include ancho(70%);
}

.box-ftr{
    margin: auto;
    text-align: center;
    width: 70%;
}


@mixin fondo($fondo){
    letter-spacing: 2px;
    padding-left: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 100%;
    background-color: $fondo;
}

.box-frm{
    @include fondo($colorGrey);
}

.box-nws{
    @include fondo($colorCoral);
    text-align: center;
}

//imagenes
.img-lgo{
    height: 70px;
    margin-left: 30px;
}

.img-pdls{
    width: 200px;
}

.img-gta{
    width: 125px;
}

@media (max-width:425px){
    .img-lgo{
        height: 30px;
    }
}
