//colores
$colorGrey: rgb(242, 242, 242);
$colorWhite: rgb(255, 255, 255);
$colorOrange: rgb(255, 127, 80);
$colorlGold: rgb(218, 165, 32);
$colorBlack: rgb(34, 47, 62);
$colorCoral: rgb(245, 222, 179);

//fonts
$mainFont: sans-serif;

//sizes
$fontLarge: 2rem;
$fontMedium: 1.75rem;
$fontSmall: 1.5rem;
$fontXSmall: 1.25rem;
